extends ../shared/template

block content
  h1= songs[0].artist.name
  img.show(src='/img/#{songs[0].artist.folder}/#{songs[0].artist.fileName}')
  .border

  #artistShow
    each song in songs
      .holder
        .title= song.name
        audio.audio(src='/audios/#{songs[0].file}', controls=true)
