extends ../shared/template

block content
  h1 Song List

  .css3droppanel
    input(type='checkbox' id='paneltoggle')
    label(for='paneltoggle' title='Click to open Panel')
    .content
      h2 Upload A New Song
      form(method='POST', action='/songs', enctype='multipart/form-data')
        input(type='text', name='name', autofocus=true, placeholder='Song Name')
        select(name='artist')
          option Artist
            each artist in artists
              option= artist.name
        select(name='album')
          option Album
            each album in albums
              option= album.name
        input(type='text', name='genres', placeholder='Genres')
        input(type='file', name='audio')
        button Add Song

  #songList
    each song in songs
      .holder
        .song= song.name
        audio.audio(src='/audios/#{song.folder}/#{song.name}', controls=true)
