extends ../shared/template

block content
  h1 Song List

  .css3droppanel
    input(type='checkbox' id='paneltoggle')
    label(for='paneltoggle' title='Click to open Panel')
    .content
      h2 Upload A New Song
      form(method='POST', action='/songs', enctype='multipart/form-data')
        input(type='text', name='name', autofocus=true, placeholder='Song Name')
        select(name='artistId')
          option Artist
            each artist in artists
              option(value=artist._id)= artist.name
        select(name='albumId')
          option Album
            each album in albums
              option(value=album._id)= album.name
        input(type='text', name='genres', placeholder='Genres')
        input(type='file', name='file')
        button Add Song

  #songList
    each song in songs
      .holder
        .song= song.name
        audio.audio(src="#{song.file}", controls=true)
