extends ../shared/template

block content
  h1= album.name
  img(src='/img/#{album.folder}/#{album.fileName}')

  //- #albumShow
  //-   each song in songs
  //-     .holder
  //-       .title= song.name
  //-       audio.audio(src='/audios/#{artist.folder}/#{album.folder}/#{song.fileName}', controls=true)
